manifest {
    author = 'Angel Angelov'
    name = 'nextflow-kraken2'
    description = 'A simple nextflow pipeline for running kraken2 and bracken in a docker container'
    homePage = 'https://github.com/angelovangel/nextflow-kraken2'
    nextflowVersion = '>=19.08'
}

process.container = 'aangeloo/kraken2:latest'
docker.enabled = true

profiles {

    test {
        
        params.readsdir = "$baseDir/testdata/"
        params.fqpattern = "*R{1,2}.fastq.gz"
        params.weakmem = true
        // the smallest possible dataset, makes no sense though
        params.kraken_db = "$HOME/db/k2_pluspf_8gb"
        params.kaiju_db = "plasmids"
    }

    test_nanopore {
        params.ontreads = true
        params.kraken_db = "$HOME/db/k2_pluspf_8gb"
        params.weakmem = true
        params.fqpattern = "zymo-test.fastq"
        params.readsdir = "$baseDir/testdata/"
    }

}